<div class="container mt-5" *ngIf="imovel">
  <h2 class="text-center">{{ imovel.nome }}</h2>
  <div class="row mt-4">
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Detalhes do Imóvel</h5>
          <p class="card-text"><strong>Tipo: </strong>{{ imovel.tipo }}</p>
          <p class="card-text"><strong>Valor: </strong>{{ imovel.valor | currency }}</p>
          <p class="card-text"><strong>Condomínio: </strong>{{ imovel.condominio | currency }}</p>
          <p class="card-text"><strong>Quartos: </strong>{{ imovel.quartos }}</p>
          <p class="card-text"><strong>Banheiros: </strong>{{ imovel.banheiros }}</p>
          <p class="card-text"><strong>Mobiliado: </strong>{{ imovel.mobiliado ? 'Sim' : 'Não' }}</p>
          <p class="card-text"><strong>Área: </strong>{{ imovel.area }} m²</p>
          <p class="card-text"><strong>Venda: </strong>{{ imovel.venda ? 'Sim' : 'Não' }}</p>
          <p class="card-text"><strong>Aluguel: </strong>{{ imovel.aluguel ? 'Sim' : 'Não' }}</p>
          <p class="card-text"><strong>Data do Anúncio: </strong>{{ imovel.dataAnuncio | date }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Endereço</h5>
          <p class="card-text"><strong>CEP: </strong>{{ imovel.endereco.cep }}</p>
          <p class="card-text"><strong>Rua: </strong>{{ imovel.endereco.rua }}</p>
          <p class="card-text"><strong>Complemento: </strong>{{ imovel.endereco.complemento }}</p>
          <p class="card-text"><strong>Número: </strong>{{ imovel.endereco.numero }}</p>
          <p class="card-text"><strong>Bairro: </strong>{{ imovel.endereco.bairro }}</p>
          <p class="card-text"><strong>Cidade: </strong>{{ imovel.endereco.cidade }}</p>
          <p class="card-text"><strong>UF: </strong>{{ imovel.endereco.uf }}</p>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Proprietário</h5>
          <p class="card-text"><strong>Nome: </strong>{{ imovel.proprietario.nome }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
    <a routerLink="/imoveis" class="btn btn-secondary">Voltar</a>
  </div>
</div>
